:host {
    display: block;
    width: 100%;
    height: 100%; // along with child items = so it needs wrapper
    box-sizing: border-box; 
}

.machine-line {
    height: 100%;
    display: flex;
    flex-direction: row;
    // &-machine-line {
    //     border-color: red;
    // }
}

.machine-line-connector {
    display: flex;
    // justify-content: center;
    align-items: center;
    &-line {
        background-color: #2d990d;
        height: 4px;
        width: 80px; // should be dynamic i guess
    }
}